# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\semester 6\CA\Double-McHarvard-with-cheese-arithmetic-shifts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
